{
  "presets": [
    [
      "@babel/preset-react"
    ],
    [ 
      "@babel/preset-typescript"
    ],
    [
      "@babel/env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      { "allowDeclareFields": true }
    ],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
